*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
.buttons{
} */

.btn , #results{
    padding: 15px;
    border: 5px palevioletred solid;
    background-color: beige;
    font-size: 20px;
    margin: 8px;
    
}

#results{
    border-width: 2px;
}

.btn:active{
    padding: 10px;
}

.scores{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Pscore,#Cscore{
    display: inline-block;
    margin: 10px;
    margin-top: 25px;
}
